{% extends "base.html.twig" %}

{% block title %} Ajouter un utilisateur {% endblock %}

{% block body %}

    <main class="container">

        <h1 class="center">Ajouter un utilisateur</h1>

        <div class="row">
            <form action="" method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="pseudo" name="pseudo" type="text" class="validate">
                        <label for="pseudo">Pseudo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

                <input id="addUser" class="waves-effect waves-light btn #0091ea light-blue accent-4 width_100" type="submit" value="Ajouter">

            </form>
        </div>
    </main>
{% endblock %}